--extra-index-url https://download.pytorch.org/whl/cpu
torch
Django
django-cors-headers
whitenoise
python-dotenv
psycopg2-binary
langchain
langchain-community
langchain-core
langchain-openai
langchain-qdrant
langchain-text-splitters
openai
qdrant-client
pydantic
pydantic-settings
Pillow
aiohttp
aiofiles
python-docx
python-pptx
pymupdf4llm
pytesseract
sentence-transformers
tiktoken
moviepy
matplotlib
inngest
gTTS
mem0ai
dj-database-url
gunicorn
requests
google-genai